<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña</title>
</head>

<body>
    <table width="100%" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <tr>
            <td align="center">
                <img src="https://cdn-icons-png.flaticon.com/512/6195/6195699.png" alt="Logo" style="max-width: 200px; margin-bottom: 20px;">
                <h2>Restablecer Contraseña</h2>
                <p style="color: red">Hola {{userName}}</p>
                <p>Haz clic en el siguiente enlace para restablecer tu contraseña:</p>
                <p id="linkForgetPassword"><a href='{{host}}:{{port}}/api/sessions/forget-password/form?accessToken={{token}}'>Change
                        password</a></p>
                <p>(El enlace será válido por un lapso de <b>60seg</b>, pasado ese tiempo deberá solicitar nuevamente el cambio de contraseña)</p>
                <p>Si no solicitaste restablecer tu contraseña, ignora este mensaje.</p>
            </td>
        </tr>
    </table>
</body>

</html>