<div class="container  p-4">
    <div class="d-flex container-xxl d-flex justify-content-around align-items-center">
        <form class="border p-4" id="Create" action="">
            <h1>Product add</h1>
            <div class="form-group">
                <label for="CreateId-title">Title: </label>
                <input type="text" class="form-control" id="CreateId-title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="CreateId-description">Description: </label>
                <input type="text" class="form-control" id="CreateId-description" placeholder="Description">
            </div>
            <div class="form-group">
                <label for="CreateId-price">Price: $</label>
                <input type="number" class="form-control" id="CreateId-price" placeholder="0">
            </div>
            <div class="form-group">
                <label for="CreateId-thumbnail">Thumbnail: </label>
                <input type="url" class="form-control" id="CreateId-thumbnail" placeholder="Link">
            </div>
            <div class="form-group">
                <label for="CreateId-code">Code: </label>
                <input type="text" class="form-control" id="CreateId-code" placeholder="XXX###">
            </div>
            <div class="form-group">
                <label for="CreateId-stock">Stock: </label>
                <input type="number" class="form-control" id="CreateId-stock" placeholder="0">
            </div>
            <div class="form-check">
                <label for="CreateId-status">Status</label>
                <input class="form-check-input position-static" id="CreateId-status" type="checkbox" aria-label="...">
            </div>
            <button type="submit">Create</button>
        </form>
        <br>
        <form class="border p-4" id="Remove" action="">
            <h1>Product remove</h1>
            <div class="form-group p-2">
                <label for="RemoveId">id: </label>
                <input type="number" class="form-control" id="RemoveId" placeholder="Id">
            </div>
            <button type="submit">Remove</button>
        </form>
    </div>
    <hr>

    <div id="products">
        {{#each products as |product|}}
        {{#> childEntry}}
        <div class="row border">
            <div class="col-sm-4">
                <img class="p-2 img-fluid catalogo__card-img" src={{product.thumbnail}} alt="imagen">
            </div>
            <div class="col-sm-8 align-middle m-auto">
                <div class="row">
                    <div class="col-sm-6 m-auto">
                        <h2 class="catalogo__card-h2">{{product.title}}</h2>
                        <p class="catalogo__card-p">code: {{product.code}}</p>
                        <p class="catalogo__card-p"><b>$ {{product.price}}</b></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{/childEntry}}
        {{/each}}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>
    const socket = io();
    const productsHTML = document.getElementById('products')

    const templateProductList = (products) => {
        if (products.length === 0) {
            return `
            <hr>
            <hr>
            <h1>No products</h1>
            `
        }
        else {
            return products.map((product) => {
                return `
                <div class="row border">
                    <div class="col-sm-4">
                        <img class="p-2 img-fluid catalogo__card-img" src= ${product.thumbnail} alt="imagen">
                    </div>
                    <div class="col-sm-8 align-middle m-auto">
                        <div class="row">
                            <div class="col-sm-6 m-auto">
                                <h2 class="catalogo__card-h2">${product.title}</h2>
                                <p class="catalogo__card-p">code: ${product.code}</p>
                                <p class="catalogo__card-p"><b>$ ${product.price}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                `
            })
        }
    }

    const formRemove = document.getElementById('Remove');
    formRemove.addEventListener('submit', function (event) {
        event.preventDefault();
        const RemoveId = document.getElementById("RemoveId");
        console.log(RemoveId.value);
        socket.emit('productDelete', parseInt(RemoveId.value, 10));
        RemoveId.value = null
    });

    const formAdd = document.getElementById('Create');
    formAdd.addEventListener('submit', function (event) {
        event.preventDefault();
        const productTitle = document.getElementById('CreateId-title')
        const productDesc = document.getElementById('CreateId-description')
        const productPrice = document.getElementById('CreateId-price')
        const productThumbnail = document.getElementById('CreateId-thumbnail')
        const productCode = document.getElementById('CreateId-code')
        const productStock = document.getElementById('CreateId-stock')
        const productStatus = document.getElementById('CreateId-status')
        const CreateId = {
            title: productTitle.value,
            description: productDesc.value,
            price: parseInt(productPrice.value, 10),
            thumbnail: productThumbnail.value,
            code: productCode.value,
            stock: parseInt(productStock.value, 10),
            status: productStatus.checked
        }
        console.log(CreateId);
        socket.emit('productCreate', CreateId);
        productTitle.value
        productDesc.value = ""
        productPrice.value = null
        productThumbnail.value = ""
        productCode.value = ""
        productStock.value = null
        productStatus.checked = false
        socket.on('productsList', (data) => {
            let htmlRef = templateProductList(data)
            productsHTML.innerHTML = htmlRef
        })
    });
</script>