<div class="container">
    <h1>Restablecimiento de Contraseña</h1>
    <div id="error-message" class="error-message"></div>
    <form id="password-reset-form">
        <label for="nueva-contrasena">Nueva Contraseña:</label>
        <input type="password" id="nueva-contrasena" name="nueva-contrasena" required>

        <label for="confirmar-contrasena">Confirmar Contraseña:</label>
        <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" required>
        <button type="submit">Cambiar Contraseña</button>
    </form>
    <input type="checkbox" id="mostrar-contrasenas">
    <label >Mostrar Contraseña</label>
    <div id="respuesta-container"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const errorDiv = document.getElementById('error-message');
        const passwordResetForm = document.getElementById('password-reset-form');

            const newPassword = document.getElementById('nueva-contrasena');
            const confirmPassword = document.getElementById('confirmar-contrasena');
            const mostrarContrasenas = document.getElementById('mostrar-contrasenas');
            const respuestaContainer = document.getElementById('respuesta-container');

            mostrarContrasenas.addEventListener('change', function () {
                if (mostrarContrasenas.checked) {
                    newPassword.type = 'text';
                    confirmPassword.type = 'text';
                } else {
                    newPassword.type = 'password';
                    confirmPassword.type = 'password';
                }
            });

        passwordResetForm.addEventListener('submit', function (e) {
            e.preventDefault();


            if (newPassword.value !== confirmPassword.value) {
                errorDiv.textContent = 'Las contraseñas no coinciden.';
            } else {
                const url = window.location.href;
                const urlObject = new URL(url);
                const urlSearchParams = urlObject.searchParams;
                const accessToken = urlSearchParams.get('accessToken');


                fetch('/api/sessions/forget-password/changePassword', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        authorization: ` Bearer ${accessToken}`
                    },
                    body: JSON.stringify({ password: newPassword.value }),
                }).then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        return Promise.reject('Error al enviar la solicitud.');
                    }
                })
                    .then(data => {
                        const result = JSON.parse(data)
                        respuestaContainer.textContent = result.message;
                    })
                    .catch(error => {
                        respuestaContainer.textContent = error;
                    });

            }
        });
    });
</script>